#gitignore

*.pyc
__pycache__/
.env
instance/
venv/
.DS_Store
.idea/
.vscode/
*.sqlite3
*.log
coverage/
htmlcov/
dist/
build/
*.egg-info/
.envrc
.pytest_cache/
.mypy_cache/
celerybeat-schedule
.coverage
.pyre/